<a href="https://colab.research.google.com/github/vaishnavi-patil05/Web_Scraping-project/blob/main/web_scraping.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from bs4 import BeautifulSoup as bs

In [ ]:
import requests

In [ ]:
url='http://books.toscrape.com/'
response = requests.get(url)
response

In [ ]:
response.status_code

200

In [ ]:
print(response.text[:1000])

<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en-us" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en-us" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en-us" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en-us" class="no-js"> <!--<![endif]-->
    <head>
        <title>
    All products | Books to Scrape - Sandbox
</title>

        <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
        <meta name="created" content="24th Jun 2016 09:29" />
        <meta name="description" content="" />
        <meta name="viewport" content="width=device-width" />
        <meta name="robots" content="NOARCHIVE,NOCACHE" />

        <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
        <!--[if lt IE 9]>
        <script src="//html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->


            <link rel="shortcut icon" href="static/oscar/favicon.

In [ ]:
type(response.text)

str

In [ ]:
soup = bs(response.text)
type(soup)

bs4.BeautifulSoup

In [ ]:
soup.find('title').text

'Discount on Lipsticks - Buy Lipstick Online at Best Price in India| Nykaa Hot Pink Sale 2022 | Nykaa'

In [ ]:
soup.find('title').text.strip()

'All products | Books to Scrape - Sandbox'

In [ ]:
soup.find('title')

<title>
    All products | Books to Scrape - Sandbox
</title>

In [ ]:
books_tag = soup.find_all('article', class_='product_pod')
books_tag

In [ ]:
len(books_tag)

20

In [ ]:
book_tag = books_tag[0]
book_tag

<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">Â£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>

In [ ]:
title_tag = book_tag.find('a', title=True)
title_tag

In [ ]:
title_tag.text

'A Light in the ...'

In [ ]:
title_tag['title']

'A Light in the Attic'

In [ ]:
title = book_tag.find('a', title=True)['title']
title

'A Light in the Attic'

In [ ]:
rating = book_tag.find('p')['class'][1]
rating

'Three'

In [ ]:
price = book_tag.find('p', class_='price_color').text[1:]
price

'£51.77'

In [ ]:
link = 'http://books.toscrape.com/' + book_tag.find('a')['href']
link

'http://books.toscrape.com/catalogue/a-light-in-the-attic_1000/index.html'

In [ ]:
import re
rating=book_tag.find('p',class_="star-rating")
rating['class'][-1]

'Three'

In [ ]:
availability=book_tag.find('p',class_='instock availability').text.strip('\n  ')
availability

'In stock'

In [ ]:
def get_details(book_tag):
    title = book_tag.find('a', title=True)['title']
    rating = book_tag.find('p')['class'][1]
    price = book_tag.find('p', class_='price_color').text[1:]
    link = 'http://books.toscrape.com/' + book_tag.find('a')['href']
    return title, rating, price, link

In [ ]:
def get_soup(url):
    """Takes URL and returns a soup object"""
    resp = requests.get(url)
    if resp.status_code == 200:
        return bs(resp.text)
    else: return None


def get_books(url):
    """Extact details from all the book tags"""
    soup = get_soup(url)
    book_tags = soup.find_all('article', class_='product_pod')

    books = []
    for book_tag in book_tags:
        books.append(get_details(book_tag))

    return books

In [ ]:
url = 'http://books.toscrape.com/'
books = get_books(url)
len(books)

20

In [ ]:
[i.text.strip('>') for i in bs(requests.get(link).text).find_all('td') if '0' in i.text][-1]

'0'

In [ ]:
excl_tax=[i.text.strip('\n').split('Â') for i in bs(requests.get(books[0][-1]).text).find_all('tr') if 'excl' in i.text][0][-1]
excl_tax

'£51.77'

In [ ]:
incl_tax=[i.text.strip('\n').split('Â') for i in bs(requests.get(books[0][-1]).text).find_all('tr') if 'incl' in i.text][0][1]
incl_tax

'£51.77'

In [ ]:
[ i for i in bs(requests.get(books[0][-1]).text).find_all(['th','td']) ]

[<th>UPC</th>,
 <td>a897fe39b1053632</td>,
 <th>Product Type</th>,
 <td>Books</td>,
 <th>Price (excl. tax)</th>,
 <td>Â£51.77</td>,
 <th>Price (incl. tax)</th>,
 <td>Â£51.77</td>,
 <th>Tax</th>,
 <td>Â£0.00</td>,
 <th>Availability</th>,
 <td>In stock (22 available)</td>,
 <th>Number of reviews</th>,
 <td>0</td>]

In [ ]:
# bs(requests.get(books[0][-1].text).find_all('td'))

In [ ]:


import pandas as pd

def get_all_books(page = 3):
    books = []
    for i in range(1, page+1):
        ## This is how the url changes with every page
        url = f'http://books.toscrape.com/catalogue/page-{i}.html'
        soup = get_soup(url)
        if soup:    
            book_tags = soup.find_all('article', class_='product_pod')

            for book_tag in book_tags:
                books.append(get_details(book_tag))
            
    books = pd.DataFrame(books, columns=['title', 'rating', 'price', 'link'])
    return books

In [ ]:
df = get_all_books(3)
df.head()

,title,rating,price,link
0,A Light in the Attic,Three,£51.77,http://books.toscrape.com/a-light-in-the-attic...
1,Tipping the Velvet,One,£53.74,http://books.toscrape.com/tipping-the-velvet_9...
2,Soumission,One,£50.10,http://books.toscrape.com/soumission_998/index...
3,Sharp Objects,Four,£47.82,http://books.toscrape.com/sharp-objects_997/in...
4,Sapiens: A Brief History of Humankind,Five,£54.23,http://books.toscrape.com/sapiens-a-brief-hist...

In [ ]:
df.shape

(60, 4)

In [ ]:




import time
import requests
import pandas as pd
from bs4 import BeautifulSoup as bs

def get_soup(url):
    """Takes URL and returns a soup object"""
    try:
        resp = requests.get(url)
    except:
        return None
    
    if resp.status_code == 200:
        return bs(resp.text)
    else: 
        return None


def get_details(book_tag):

    ## title
    try:
        title = book_tag.find('a', title=True)['title']
    except:
        title = None
        
    ## rating
    try: 
        rating = book_tag.find('p')['class'][1]
    except: 
        rating = None 
        
    ## Price
    try: 
        price = book_tag.find('p', class_='price_color').text[1:]
    except:
        price = None
    
    ## Link
    try:
        link = 'http://books.toscrape.com/'+'catalogue/' + book_tag.find('a')['href']
        # print(link)
        incl_tax=[i.text.strip('\n').split('Â') for i in bs(requests.get(link).text).find_all('tr') if 'incl' in i.text][0][1]
        excl_tax=[i.text.strip('\n').split('Â') for i in bs(requests.get(link).text).find_all('tr') if 'excl' in i.text][0][-1]
        reviews=[i.text.strip('>') for i in bs(requests.get(link).text).find_all('td') if '0' in i.text][-1]
        # incl_tax=bs(requests.get(link).text).find_all('tr') 
        # print(incl_tax)
        # print(link)
        # print(reviews)
    except:
        price = None
    try:
      availability=book_tag.find('p',class_='instock availability').text.strip('\n  ')
    except:
      availability=None
    return title ,rating,price,link,availability,incl_tax,excl_tax,reviews

def get_all_books(page = 3):
    books = []
    for i in range(1, page+1):
        url = f'http://books.toscrape.com/catalogue/page-{i}.html'
        soup = get_soup(url)
        if soup:    
            try:
                book_tags = soup.find_all('article', class_='product_pod')

                for book_tag in book_tags:
                    books.append(get_details(book_tag))
            except:
                print(f'Error reading page {i} . . .')

            # time.sleep(1) # sleep before making the next request

    books = pd.DataFrame(books, columns=['title', 'rating', 'price', 'link','availability','incl_tax','excl_tax','Number of reviews'])
    return books

In [ ]:
link='http://books.toscrape.com/catalogue/shakespeares-sonnets_989/index.html'
incl_tax=bs(requests.get(link).content).find('td')
print(incl_tax)

<td>30a7f60cd76ca58c</td>

In [ ]:

df = get_all_books(1) # 20 books x 50 pages = 1000 books
df

,title,rating,price,link,availability,incl_tax,excl_tax,Number of reviews
0,A Light in the Attic,Three,£51.77,http://books.toscrape.com/catalogue/a-light-in...,In stock,£51.77,£51.77,0
1,Tipping the Velvet,One,£53.74,http://books.toscrape.com/catalogue/tipping-th...,In stock,£53.74,£53.74,0
2,Soumission,One,£50.10,http://books.toscrape.com/catalogue/soumission...,In stock,£50.10,£50.10,0
3,Sharp Objects,Four,£47.82,http://books.toscrape.com/catalogue/sharp-obje...,In stock,£47.82,£47.82,0
4,Sapiens: A Brief History of Humankind,Five,£54.23,http://books.toscrape.com/catalogue/sapiens-a-...,In stock,£54.23,£54.23,0
5,The Requiem Red,One,£22.65,http://books.toscrape.com/catalogue/the-requie...,In stock,£22.65,£22.65,0
6,The Dirty Little Secrets of Getting Your Dream...,Four,£33.34,http://books.toscrape.com/catalogue/the-dirty-...,In stock,£33.34,£33.34,0
7,The Coming Woman: A Novel Based on the Life of...,Three,£17.93,http://books.toscrape.com/catalogue/the-coming...,In stock,£17.93,£17.93,0
8,The Boys in the Boat: Nine Americans and Their...,Four,£22.60,http://books.toscrape.com/catalogue/the-boys-i...,In stock,£22.60,£22.60,0
9,The Black Maria,One,£52.15,http://books.toscrape.com/catalogue/the-black-...,In stock,£52.15,£52.15,0
10,"Starving Hearts (Triangular Trade Trilogy, #1)",Two,£13.99,http://books.toscrape.com/catalogue/starving-h...,In stock,£13.99,£13.99,0
11,Shakespeare's Sonnets,Four,£20.66,http://books.toscrape.com/catalogue/shakespear...,In stock,£20.66,£20.66,0
12,Set Me Free,Five,£17.46,http://books.toscrape.com/catalogue/set-me-fre...,In stock,£17.46,£17.46,0
13,Scott Pilgrim's Precious Little Life (Scott Pi...,Five,£52.29,http://books.toscrape.com/catalogue/scott-pilg...,In stock,£52.29,£52.29,0
14,Rip it Up and Start Again,Five,£35.02,http://books.toscrape.com/catalogue/rip-it-up-...,In stock,£35.02,£35.02,0
15,Our Band Could Be Your Life: Scenes from the A...,Three,£57.25,http://books.toscrape.com/catalogue/our-band-c...,In stock,£57.25,£57.25,0
16,Olio,One,£23.88,http://books.toscrape.com/catalogue/olio_984/i...,In stock,£23.88,£23.88,0
17,Mesaerion: The Best Science Fiction Stories 18...,One,£37.59,http://books.toscrape.com/catalogue/mesaerion-...,In stock,£37.59,£37.59,0
18,Libertarianism for Beginners,Two,£51.33,http://books.toscrape.com/catalogue/libertaria...,In stock,£51.33,£51.33,0
19,It's Only the Himalayas,Two,£45.17,http://books.toscrape.com/catalogue/its-only-t...,In stock,£45.17,£45.17,0

In [ ]:
df.shape

(20, 8)